@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --f-h: "Eudoxus", sans-serif;
    --f-b: "Inter", sans-serif;

    --bg1: white;
    --bg2: rgb(243, 243, 243);
    --bg3: rgb(231, 231, 231);
    --bg4: rgb(222, 222, 222);
    --bg5: rgb(215, 215, 215);
    --bgt: rgba(255,255,255,0.8);

    --p1: rgb(35, 219, 93);
    --p2: rgb(28, 184, 78);

    --pt: rgba(41, 253, 108, 0.216);

    --c1: rgb(28, 37, 49);
    --c2: rgb(40, 50, 63);
    --c3: rgb(55, 65, 77);
    --c4: rgba(55, 65, 77, 0.698);
    --c5: rgba(55, 65, 77, 0.37);

    --br: 25px;

    --tr: ease-out;
}

/* fonts */
@font-face {
    font-family: 'Eudoxus';
    src: url('/public/fonts/EudoxusSansGX.woff');
}

@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-VariableFont_opsz\,wght.ttf');
}









html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    margin:0;

    font-family: var(--f-b);

    padding-top: 6rem;

    background-color: var(--bg2);
}




/* defaults */
h1, h2, h3, a{
    margin-block: 10px;
}

h4, h5, h6, p{
    margin-block: 5px;
}

h4{
    font-size: 1.1rem;
}

h1{
    font-size: 2rem;
    font-family: var(--f-h);

    color: var(--c1);
}

h2{
    font-size: 1.6rem;
    color: var(--c2);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--f-h);
}

p{
    font-size:1.1rem;
    font-family: var(--f-b);

    color: var(--c3);
}

p.faint{
    opacity: 0.8;
    font-size: 1rem;
}

hr{
    width: 100%;
    box-sizing: border-box;
    margin-block: 10px;

    border: none;
    border-top: 2px solid var(--bg4);
}






/* button */
button, .button{
    background-color: var(--p1);
    padding: 0.7rem 1rem;

    text-decoration: none;

    font-family: var(--f-h);
    font-size: 0.95rem;
    font-weight: bold;
    
    color: var(--bg1);
    
    border-radius: var(--br);
    border:none;

    display: inline-block;

    cursor: pointer;
    
    transition: 0.2s var(--tr);
}

button:hover, .button:hover{
    opacity: 0.8;
}

button:active, .button:active{
    scale: 0.96;
}

button.clear, .button.clear{
    background-color: transparent;

    color: var(--c1);
 
    transition: .1s var(--tr);
}

button.clear:hover, .button.clear:hover{
    background-color: var(--bg3);

    transition: .1s var(--tr);
}

button.normal, .button.normal{
    background-color: var(--bg1);
    border:1px solid var(--bg4);

    color: var(--c1);

    transition: .2s var(--tr);
}

button.normal:hover, .button.normal:hover{
    background-color: var(--bg4);
}

button.mono, .button.mono{
    background-color: var(--bg2);
    outline:1px solid var(--bg4);
    color: var(--c1);
}

button.small, .button.small{
    margin-block: 5px;
    padding: 9px 12px;
    font-size: 0.8rem;
}

button.morph, .button.morph{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.col{
    display: flex;
    gap:10px;

    align-items: center;
}

.col.background{
    border: 1px solid var(--bg4);
    border-radius: var(--br);

    background-color: var(--bg2);

    padding-inline: 1rem;
}









/* navbar */
.navbar{
    display: flex;

    position: fixed;

    z-index: 9;

    height:6rem;
    
    box-sizing: border-box;
    width: calc(100% - 40px);
    left:20px;
    right:20px;
    top:0;

    justify-content: center;
    align-items: center;
}

.navbar > .col{
    margin-left: auto;
}

.navbar > a:not(.button), .first-col > a:not(.button){
    color: var(--c1);

    font-family: var(--f-h);
    font-size: 1rem;
    font-weight: 420;

    padding: 0.5rem 1rem;

    text-decoration: none;
}

.first-col{
    display: flex;

    padding: 0.4rem 0.6rem;

    background-color: var(--bg1);
    border-radius: var(--br);
}

.navbar > a:hover, .first-col > a:hover{
    opacity: 0.7;
}

.toggle-navbar{
    display: none;
}






/* panel */
.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 22px;

    border-radius: var(--br);

    background-color: var(--bg1);

    width: fit-content;

    outline:1px solid var(--bg4);
}

.panel.center{
    margin: 20px;
    margin-inline: auto;
}

.panel.wide{
    width: min(100%, 800px);
}

.panel.left{
    align-items: flex-start;
}







/* resource */
.resources{
    display: flex;

    width: fit-content;
    
    padding-block: 10px;
    padding-left: 10px;

    transform:translateX(-10px);

    gap:12px;

    background-color: var(--bg2);
}

.resource{
    background-color: var(--bg1);

    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 15rem auto;

    overflow: hidden;

    cursor: pointer;

    border-radius: var(--br);
    border: 1px solid var(--bg4);

    position:relative;

    transition: .2s var(--tr);
}

.resource:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.resources-wrapper{
    max-width: 100%;
    overflow: auto;
}

.resources-wrapper::-webkit-scrollbar{
    display: none;
}

.resource > .floating-resource{
    position:absolute;

    top:5px;
    left:5px;
}

.resource > .floating > button,
.resource > .floating > .button{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.resource > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resource-info{
    background-color: var(--bg1);
    padding: 10px 20px;

    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}








/* form */
form{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

input, select, textarea{
    background-color: var(--bg2);

    border: 1px solid var(--bg4);
    border-radius: var(--br);

    padding: 0.8rem 1rem;

    font-family: var(--f-b);
    font-size: 0.9rem;
    font-weight: 500;

    margin-block: 10px;

    width: 100%;

    outline:0 solid rgba(46, 182, 255, 0.148);

    box-sizing: border-box;

    transition: outline-width 0.2s var(--tr);
}

input::placeholder, select::placeholder, textarea::placeholder{
    color: var(--c5);
}

input:focus, select:focus, textarea:focus{
    outline-width:4px;

    background-color: var(--bg1);

    transition: outline-width 0.2s var(--tr);
}

input[type='file']::file-selector-button{
    background-color: var(--bg1);
    color: var(--c2);
    font-family: var(--f-h);
    border-radius: var(--br);

    border:1px solid var(--bg4);

    padding: 10px;
}

select{
    position:relative;
    appearance: none;

    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M1 3l4 4 4-4" fill="none" stroke="black" stroke-width="2"/></svg>')
        no-repeat right center;
    background-size: 10px;
    background-position: calc(100% - 10px);
}

label{
    font-size: 0.9rem;
    font-weight: 480;

    padding-left: 5px;

    color: var(--c4);
}

.error{
    background-color: rgba(255, 0, 0, 0.212);
    color: rgb(145, 0, 0);

    padding: 10px;
    border-radius: var(--br);
}

.pill{
    padding: 10px 13px;
    border-radius: var(--br);

    background-color: var(--bg2);
    outline:1px solid var(--bg4);
}

.col.input{
    gap: 0;
}

.col.input > input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border:1px solid var(--bg4);
}

.col.input > button,
.col.input > .button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.8rem 1rem;
}







/* material symbols */
.material-symbols-outlined{
    font-size: inherit;
    transform: translateY(10%);
    scale:1.05;
    margin-inline: 2px;
}





/* floating */
.floating{
    position:fixed;
    
    z-index: 10;

    inset:0;

    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);

    display:flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;

    opacity: 0;

    transition: all .2s var(--tr);
}

.floating > .panel{
    position:absolute;
    
    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    transition: all .2s var(--tr);
}

.floating > .panel > .close{
    position:absolute;
    top:10px;
    right:10px;
}




@media(max-width: 800px){
    .navbar{
        display: none;

        justify-content: right;
        gap:10px;

        align-items: flex-start;

        margin-top: 10px;
    }

    .first-col, .navbar > .col{
        flex-direction: column;
        margin: 0;

        box-shadow: 0 0 30px 4px rgba(0,0,0,0.1);
    }

    .toggle-navbar{
        display: block;

        position:fixed;
        left:10px;
        top:10px;

        z-index: 10;

        outline:1px solid var(--p2);
    }

    body{
        padding-top:1rem;
    }
}
